// layout.jade
doctype 5
html
  head
    title=page
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    #content
      block content
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    - if (page == 'watch' || page == 'moderate')
      script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascripts/client.js")
    script(type="text/javascript")
      var chatter = window.chatter || {};
      chatter.page = {};
      chatter.page.type = '#{page}';
      chatter.page.username = '#{username}';
    - if (locals.topic && locals.topic.id)
      script(type="text/javascript")
        chatter.page.topic_id = '#{topic.id}';
