body {
  padding: 50px;
  font: 14px "Palatino Linotype",Palatino LT Std,Book Antiqua,Palatino,Georgia,serif
}

a {
  color: #00B7FF;
}

.gray { color: #aaa; }

#users-typing p {
  font-size: 300%;
}

#questions p {
  font-size: 300%;
  margin: 0;
  padding: 0;
}
