body {
  padding: 50px;
  font: 14px "Palatino Linotype",Palatino LT Std,Book Antiqua,Palatino,Georgia,serif
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}

.gray {
  color: #aaa;
}
